/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* custom peoperties */
:root {
   --color-primary: #684de2;
}

/* base styles  */
* {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

body {
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
   background: #e5e5e5;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* reusable classes */
.container {
   width: 870px;
   background: #ffffff;
   padding: 30px;
   border-radius: 5px;
   margin-top: 21px;
}

.section-title {
   font-size: 24px;
   color: var(--color-primary);
   margin: 10px 0 40px;
}

/* utils */
hr {
   border-top: 1px solid #d1d1d1;
   margin-bottom: 30px;
}

/* header css */
header {
   background: var(--color-primary);
   height: 95px;
   display: flex;
   justify-content: center;
}
.navigation {
   width: 870px;
   display: flex;
   justify-content: space-between;
}
.logo {
   display: flex;
   align-items: center;
   cursor: pointer;
}
.logo img {
   height: 40px;
   height: 50px;
}
.logo__text {
   color: #ffffff;
   margin-left: 15px;
   font-size: 24px;
}

nav {
   display: flex;
   align-items: center;
}

.nav-list {
   display: flex;
}
.nav-list li {
   list-style: none;
   margin-right: 25px;
}
.nav-list li a {
   color: #ffffff;
   text-decoration: none;
   position: relative;
   padding: 5px;
}

.nav-list li a:hover {
   color: #e7e2e2;
   font-weight: 400;
}

.nav-list li a::after {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   background: #FFF;
   position: absolute;
   transform: scaleX(0);
   transition: .5s;
}

.nav-list li a:hover::after {
   transform: scaleX(1);

}

/*------ top players css ------*/

.players {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
   grid-row-gap: 30px;
   margin-bottom: 30px;
   justify-items: flex-start;
}
.players .player {
   display: flex;
   align-items: center;
}
.player__img {
   width: 56px;
   height: 56px;
}

.player__info {
   margin-left: 16px;
}

.player__name {
   color: #434343;
   font-size: 18px;
}
.player__designation {
   color: rgb(173, 173, 173);
   font-size: 12px;
}

/* top blog css */
.blogs {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-row-gap: 25px;
}
.blogs .blog {
   display: flex;
   align-items: center;
}
.blog__thumbnail img {
   width: 177px;
   height: 117px;
}
.blog__details {
   margin-left: 16px;
}
.blog-title {
   color: #434343;
   font-size: 20px;
}
.blog-author {
   color: #9f9f9f;
}
.blog-author a {
   color: var(--color-primary);
   font-size: 16px;
   text-decoration: none;
}

/* courses css */

.course {
   box-shadow: 0 5px 15px rgba(15, 10, 10, 0.1);
   padding: 12px;
   border-radius: 15px;
}

.courses {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
   grid-column-gap: 25px;
}

.course__thumbnail img {
   width: 100%;
   margin-bottom: 20px;
}

.course-title {
   color: #434343;
   font-size: 20px;
   margin-bottom: 12px;
}
.course-author {
   color: #ed6b4f;
   font-size: 15px;
}

.course__info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 16px;
}

.course-ratings i {
   font-size: 12px;
   color: #ffc014;
}
.course-ratings i.blank {
   color: #aeaeae;
   opacity: 0.5;
}

.course-ratings span {
   color: #a2a2a2;
   font-size: 15px;
   margin-left: 11px;
}
.course-duration {
   color: #ff4a60;
   background: #ffe4e8;
   font-size: 15px;
   padding: 6px 7px;
   border-radius: 15px;
}

/* ----------------------------
Media queries for small devices
-----------------------------*/

/* for small phones */

@media only screen and (max-width: 400px) {
   .blogs {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   }
   .blogs .blog {
      align-items: flex-start;
      flex-direction: column;
   }

   .blog__details {
      margin: 0;
   }
}

/* for medium phones */

@media only screen and (max-width: 688px) {
   .navigation {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
   }

   .nav-list li {
      margin-right: 15px;
   }

   .profile-img img {
      display: none;
   }

   .container {
      width: 100%;
   }
   .players .player {
      justify-content: center;
   }
   .course {
      margin-bottom: 1rem;
   }
}

/* for tablet */

@media only screen and (min-width: 689px) and (max-width: 992px) {
   .navigation {
      padding: 0 30px;
   }
   .container {
      width: 90%;
   }
   .players .player {
      justify-content: center;
   }
}
